@font-face {
    font-family: Satoshi;
    src: url(./assets/fonts/Satoshi-Regular.woff2);
}

@font-face {
    font-family: IntegralCF;
    src: url(./assets/fonts/integralcf-bold.otf);
}

@import "tailwindcss";
body{
    background-color: #f2f0f1;
}

@theme{
    --font-satoshi: Satoshi , "sans-serif";
}
@theme{
    --font-integralcf: IntegralCF , "sans-serif";
}
