@font-face {
    font-family: Satoshi;
    src: url(./assets/fonts/Satoshi-Regular.woff2);
}

@font-face {
    font-family: IntegralCF;
    src: url(./assets/fonts/integralcf-bold.otf);
}
@font-face {
    font-family: SatoshiBold;
    src: url(./assets/fonts/Satoshi-Bold.woff2);
}

@import "tailwindcss";

@theme{
    --font-satoshi: Satoshi , "sans-serif";
}
@theme{
    --font-satoshi-bold: satoshi-bold , "sans-serif";
}
@theme{
    --font-integralcf: IntegralCF , "sans-serif";
}
